#s-71854493-87f6-440c-bb65-31dbb2a6ab19 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-71854493-87f6-440c-bb65-31dbb2a6ab19 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}