#s-92a0a45b-5332-4c14-bca7-753d0ed0340b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-92a0a45b-5332-4c14-bca7-753d0ed0340b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}