#s-9715a5bf-2441-4698-a01c-150d9c290348 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9715a5bf-2441-4698-a01c-150d9c290348 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}